.navbar {
  background-color: #00ec6e;
  height: 45px;
}
.navbar-heading {
  font-weight: 500;
  margin-left: 230px;
  padding-top: 6px;
}
.vertical-nav {
  width: 14rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background-color: #00b5ec;
}
.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  justify-content: center;
  margin-left: 76px;
  margin-top: 40px;
}
.media-body {
  margin-left: 78px;
  margin-top: 25px;
}

.flex-column {
  margin-top: 60px;
  margin-left: 35px;
}

.link1 {
  margin-top: 1px;
  margin-left: 26px;
}
.link2 {
  margin-top: -2px;
  margin-left: 24px;
}
.link3 {
  margin-left: 27px;
  margin-top: -3px;
}
.link4 {
  margin-left: 27px;
  margin-top: -3px;
}

.nav-link {
  margin-left: -5px;
}

.admin-name {
  margin-left: 67px;
  margin-top: 20px;
}
